language: python
python:
  - "2.7"

env:
  - PLATFORMIO_PROJECT_DIR=examples/arduino-blink
  - PLATFORMIO_PROJECT_DIR=examples/arduino-wifiscan
  - PLATFORMIO_PROJECT_DIR=examples/espidf-http-request

install:
  - pip install -U https://github.com/platformio/platformio/archive/develop.zip
  - platformio platform install file://.

script:
  - platformio run -d $PLATFORMIO_PROJECT_DIR

notifications:
  email: false

  slack:
    rooms:
      secure: EkXAtWoUQtgtFeiOobnNZmaUgPw7evpo60Tam5jQiKbVK02bCbBODELTSFsGfIj05oAzNm4s1xBTRD3x9bsvPqvfThHwIHZ2M2BlrT06iINsfFXoXM5yCuBAIi8FF61UKmiZn+Pm+IK6OeUFmzXoP5BcpS2LRB0eSoCj0nsF5cj/H+oA6BnCn/5AXhbSQSiHxOPfq/0khQb5dalmf3B9NHq08MEiOLJR5J9zPglKMfE2HR8PS98irN0x1t9+aReMfUJSZrxfqwvWKz/Sb38/2H37A4GOXpsnRDagZXkfw/MSckSxRFtW8p/0LUBQqeaxdC5Z9qIuyDCAeHPm8d0AIArR7Ylz6BjlNVJVdCTAZaNTp7PUV4n1cN7gZPq8NhWnuGG3wdWiYlJEyHmmRjr9adDYTshCl3gf2GOjB5YJIjoNrixkoJwHM2gJLvwuOw7mgo0hLbqW84XSgV6KeSU12AYk9d2nz3AhWVsb4DiKrN+EqnhBVnCygAxYGlNxfZOPG0FIYai2DUsl6PXd3OBmxeNEWG+x7BivG+maaQEyC4SeFaNFIBR1L4F+C0fHW1VxiCvJCb6vB7fOk7fU5UDhpYnrRmSuyAVYR86aZ+3VnZjbjpGac6hfN7Qxg5WeC5Yd6eR2lrNag9lG5zASylZ1nsdlOZloPs8ilGe43mDpAkg=
    on_failure: always
    on_success: change
