menu "TinyUSB MSC Test Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    menu "SDMMC GPIO Configuration"
        depends on SOC_SDMMC_USE_GPIO_MATRIX && SOC_SDMMC_HOST_SUPPORTED

        config TEST_SDMMC_PIN_CMD
            int "CMD GPIO number"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
            default 35 if IDF_TARGET_ESP32S3
            default 44 if IDF_TARGET_ESP32P4

        config TEST_SDMMC_PIN_CLK
            int "CLK GPIO number"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
            default 36 if IDF_TARGET_ESP32S3
            default 43 if IDF_TARGET_ESP32P4

        config TEST_SDMMC_PIN_D0
            int "D0 GPIO number"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
            default 37 if IDF_TARGET_ESP32S3
            default 39 if IDF_TARGET_ESP32P4

        config TEST_SDMMC_PIN_D1
            int "D1 GPIO number"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
            default 38 if IDF_TARGET_ESP32S3
            default 40 if IDF_TARGET_ESP32P4

        config TEST_SDMMC_PIN_D2
            int "D2 GPIO number"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
            default 33 if IDF_TARGET_ESP32S3
            default 41 if IDF_TARGET_ESP32P4

        config TEST_SDMMC_PIN_D3
            int "D3 GPIO number"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
            default 34 if IDF_TARGET_ESP32S3
            default 42 if IDF_TARGET_ESP32P4

    endmenu # SDMMC GPIO Configuration
endmenu # TinyUSB MSC Test Configuration
